@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    function btnClick(){
        alert("You have clicked me!");s
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<h1 class="text-center">Hello, world!</h1>
<p>The time on the server is @DateTime.Now</p>

<!--Tesing some javascript-->
<div class=" row col-12 text-center" id="javascript">
    <p>Click this button:&nbsp;</p>
    <button type="button" class="btn btn-primary btn-sm" onclick="btnClick()">Button</button>
</div>

<!--Testing angular-->
<div ng-app="" id="angular" class="text-center">
    <span class="row col-6">Write something in the input box: <input type="text" ng-model="myInput" placeholder="Enter text here"></span>
    <span class="row col-6">{{myInput}}</span>
    
</div>